<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Collections</title>
</head>
<body>
    <div class='container'>
    <h1>Taking Inventory</h1>
        <ul class='nav nav-tabs'>
            <li><a href="/">Home</a></li>
            <li class='active'><a href="/collections">Collections</a></li>
            <li><a href="/types">Types</a></li>
        </ul>

        {% if collections is not empty%}
            <h5>Collections:</h5>
            <ul>
                {% for collection in collections %}
                    <li>{{ collection.getThing }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if collections is empty %}
        <br>
        <p><em>No Collections listed</em><p>
            {% endif %}
        <div class='form-group' style='width: 45%'>
        <form action='/collections' method='post'>
                <input id='thing' name='thing' class='form-control' type='text'>
                <button type='submit' class='btn-success'>Add collection</button>
        </form>
        </div>
        <br>
        <div class='text-center'>
        <form action='/delete_collections' method='post'>
            <button type='submit' class='btn btn-xs'>Clear</button>
        </form>
            <br>
            <p><a href='/'>Taking Inventory: Home</a></p>
        </div>
    </div>
</body>
</html>
