<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Inventory</title>
</head>
<body>
    <h1>You listed a new collection</h1>
    <p>{{ newcollection.getThing }}</p>
    <p><a href='/'>view your listed inventory</a></p>

</body>
</html>
