<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Inventory Listings</title>
</head>
<body>
    <div class='container'>
    <h1>My Collection Inventory</h1>

    <p><a href="/collections">Click here</a> to see all of the collections, or to add another collection.</p>
    <p><a href="/types">Click here</a> to see all the types of collections, or to add a type.</a>
    </div>
</body>
</html>
