
<html>
<head>
    <title>Inventory Listings</title>
</head>
<body>
    <h1>Welcome</h1>

    <p><a href="/types">Click here</a> to see all of the types, or to add a type.</p>
    <p><a href="/collections">Click here</a> to see all of the collections, or to add a collection.</a>

</body>
</html>
